.pokemon-card {
  font-family: "Signika", Arial, sans-serif;
  margin: 0 5px 50px;
  width: 215px;
  display: flex;
  flex-direction: column;

}

.pokemon-card__imag {
  background: #f2f2f2;
  border-radius: 5px;
}

.pokemon-card__number, .pokemon-card__name {
  padding: 0 10px;
}

.pokemon-card__number {
  color: #919191;
  font-size: 80%;
  padding-top: 2px;
}

.pokemon-card__name {
  color: #313131;
  font-size: 145%;
  margin: 0.5em 0 5px;
}

.pokemon-card__types {
  display: flex;
}

.pokemon-card__type {
  margin: 0 10px;
  padding: 5px;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
}
.pokemon-card__type--grass{
  background-color: #9bcc50;
  color: #212121
}
.pokemon-card__type--poison{
  background-color: #b97fc9;
  color: #fff
}
.pokemon-card__type--fire{
  background-color: #fd7d24;
  color: #fff
}
.pokemon-card__type--bug{
  background-color: #729f3f;
  color: #fff
}
.pokemon-card__type--dark{
  background-color: #707070;
  color: #fff
}
.pokemon-card__type--flayng{
  background-color: #3dc7ef;
  color: #212121
 }
.pokemon-card__type--ice{
  background-color: #51c4e7;
  color: #212121
}
.pokemon-card__type--ground{
  background-color: #f7de3f;
  color: #212121
}
.pokemon-card__type--rock{
  background-color: #a38c21;
  color: #fff
}
.pokemon-card__type--fairy{
  background-color: #fdb9e9;
  color: #212121
}
.pokemon-card__type--steel{
  background-color: #9eb7b8;
  color: #212121
}
.pokemon-card__type--normal{
  background-color: #a4acaf;
  color: #212121
}
.pokemon-card__type--water{
  background-color: #4592c4;
  color: #fff
}
.pokemon-card__type--fighting{
  background-color: #d56723;
  color: #fff
}
.pokemon-card__type--electric{
  background-color: #eed535;
  color: #212121
}
.pokemon-card__type--psychic{
  background-color: #a4acaf;
  color: #212121
}
.pokemon-card__type--ghost{
  background-color: #7b62a3;
  color: #fff
}
.pokemon-card__type--dragon{
  background-color: #53a4cf;
  color: #fff
}

