<div id="carouselExample" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="card-wraper">
      <div class="carousel-item {{pokemon.number==1? 'active': pokemon.number}}"
           *ngFor="let pokemon of pokemonService.pokemons">
        <app-poke-card [pokemon]="pokemon"></app-poke-card>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


